*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
.formulario{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: darkcyan;
    height: 50vh;
}
.lotie{
    background-color: rgb(92,211 ,53 );
    height: 50vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.lottie{
    background-color: rgb(25, 31, 23);
    height: 50vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}